html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0e0e10;

}

nav{
    width: 100%;
    height: 80px;
    background-color: #18181b;
    display: flex;
    position: fixed;
    z-index: 15;
    justify-content: space-between;
}

#Izquierda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

#Izquierda a{
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

#Izquierda a:hover {
    color: rgb(190, 2, 190);

}

#Centro input:focus {
    outline: none;
    border: 2px solid rgb(163, 39, 157);
    background-color: #1f1f23;
    color: rgb(255, 255, 255);
}

#Centro input{
    border: 2px solid #ffffff; 
}

#Centro{
    display: flex;
    align-items: center;
}


#User{
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.icon{
    width: 70px;
    height: 70px;
    margin: 20px;
    cursor: pointer;
    align-items: center;
}

#buscar{
    width: 100%;
    height: 30px;
    background-color: #18181b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: white;
} 

#User button{
    padding: 5px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin: 3px;
    align-items: center;
}

#boton1{
    background-color: rgb(32, 30, 30);
    border: none;
    cursor: pointer;
}

#boton2{
    background-color: rgb(163, 39, 157);
    border: none;
    cursor: pointer;
}

aside{
    height: 100vh;
    width: 70px;
    background-color: #1f1f23;
    top: 80px;
    position: fixed;
    flex-direction: column;
    display: flex;
    top: 83px;
    z-index: 20;
}

#UsuariosMobile{
    width: 50px;
    height: 100%;
    background-color: #1f1f23;
}

#UsuariosMobile img{
    margin: 5px;
}

.iconUser{
    width: 45px;
    height: 45px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#UsuariosDesktop{
    width: 250px;
    height: 100%;
    background-color: #1f1f23;
    position: fixed;
}

#cabeceraUsers{
    padding: 10px;
}

aside ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: start;
    margin: 10px;
}

aside ul,li{
    margin: 0;
    padding: 0;
}

#UsuariosDesktop img, p, .live{
    float: left;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Arial';
    flex-direction: column;
    display: flex;
    cursor: pointer;
}

#cabeceraUsers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#cabeceraUsers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.live{
    height: 1vh;
    width: 1vh;
    background-color: red;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 30px;
    margin-top: 22px;
}

#Registro{
    height: 60px;
    width: 100%;
    background-color: #7a23cc;
    bottom: 0px;
    position: fixed;
    z-index: 21;
}

#Registro button{
    border-radius: 10px;
    background-color: #e8e1ee;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

section p{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    padding: 0 0 0 5px;
}

main{
    height: auto;
    width: 100%;
    min-height: 100vh;
    background-color: #0E0E10;
    padding: 55px 280px 0 280px;
  }

#primeraParte{
    background-color: #0e0e10;
    top: 80px;
    height: auto;
    width: 100%;
    min-height: 300px;
    position: relative;
    z-index: 14;
    margin-bottom: 30px;
}

#primeraParte div{
    top: 50%;
    left: 50%;
    position: absolute;
    transform-origin: 50% 50%;
    width: 350px;
    height: 270px;
    cursor: pointer;
}

#fondo div:hover{
    transition: all 0.5s linear;
}

#stream1{
    background-color: aqua;
    transform: translate(-50%, -50%);
    z-index: 10;
}


#stream2{
    background-color: beige;
    transform: translate(-20%, -50%) scale(0.85);
    z-index: 9;
}

#stream2:hover{
    transform: translate(-20%, -50%) scale(0.95);
}

#stream3{
    background-color: rgb(0, 98, 245);
    transform: translate(0%, -50%) scale(0.75);
    z-index: 8;
}

#stream3:hover{
    transform: translate(0%, -50%) scale(0.8);
}

#stream4{
    background-color: rgb(0, 255, 85);
    transform: translate(-80%, -50%) scale(0.85);
    z-index: 9;
}

#stream4:hover{
    transform: translate(-80%, -50%) scale(0.95);
}

#stream5{
    background-color: rgb(255, 0, 21);
    transform: translate(-100%, -50%) scale(0.75);
    z-index: 8;
}

#stream5:hover{
    transform: translate(-100%, -50%) scale(0.8);
}

#texto p{
    font-family: sans-serif;
    color: #ba90f9;
    font-weight: bold;
    position: relative;
    background-color: #0e0e10;
    margin-top: 80px;
    font-size: 20px;
}

#segundaParte{
    display: grid;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #0e0e10;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 5%;
    top: 80px;
    /*padding-left: 70px;
    padding-right: 70px;*/
    /*top: 80px;
    margin-left: 70px;
    position: relative;
    margin-top: 80px;*/
}

#segundaParte div{
    width: 100%;
    height: 230px;
    background-color: red;
}


#categorias {
    display: grid;
    width: 100%;
    height: auto;
    min-height: 50vh;
    background-color: #0e0e10;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    position: relative;
    margin-top: 130px;
}

#categorias div {
    height: 200px;
    width: 100%;
    background-color: red;
}

#categorias{
    flex-direction: column;
}

@media screen and (min-width:1200px){
    
    #usuariosDesktop{
        display: flex;
    }

    #UsuariosMobile{
        display: none;
    }
}

@media screen and (max-width:1200px){
    #UsuariosDesktop{
        display: none;
    }

    #UsuariosMobile{
        display: flex;
    }

    main{
        height: auto;
        min-height: 100vh;
        background-color: #0E0E10;
        padding: 55px 50px 0 0px;
    }

}

@media screen and (max-width:750px){
    #primeraParte div:nth-child(2){
        display: none;
    }

    #primeraParte div:nth-child(3){
        display: none;
    }

    #primeraParte div:nth-child(4){
        display: none;
    }

    #primeraParte div:nth-child(5){
        display: none;
    }
}


@media screen and (min-width:750px){
    #iconExplorar{
        display: none;
    }
}

@media screen and (max-width:830px){
    #buscar{
        width: 35%;
    }
    .icon{
        width: 30px;
        height: 30px;
        align-items: center;
    }

    #UsuariosDesktop{
        display: none;
    }

    #Centro input{
        display: none;
    }

    #Izquierda a{
        display: none;
    }
}